*{
    box-sizing: border-box;
}

.canvas{
    width: 800px;
    height: 800px;
    background-color: lightblue;
    margin-top: 20px;
    position: relative;
    border: solid 100px;
    left: 20%;
    display: flex;
    flex-wrap: wrap;
}

#player{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    bottom: 0px;
    left: 2000px;
    z-index: 0;
}
